{% for product in products %}
<div class="col">
    <div class="card h-100 rounded-top-4">
        <!-- {# Access using dictionary-style for sqlite3 row #} -->
         <img src="{{ url_for('static', filename='images/' + product['image_url']) }}" alt="{{ product[product_name] }}" class="card-img-top product-img">
         <div class="card-body">
            <h5 class="card-title text-center">{{ product['product_name'] }}</h5>
            <p class="card-text"> {{ product['price'] }}</p>
            <p class="card-text">{{ product['product_description'] }}</p>
            <p class="card-text text-muted"><small>Category: {{ product['category_name'] }}</small></p>
         </div>
    </div>
</div>
{% endfor %}