{% extends "base.html" %}

{% block title %}Home - Annah's Bakery{% endblock %}

{% block content %}
<div class="hero-section">
    <div class="hero-content">
        <h1 class="text-center hero-content-text">FRESHLY</h1>
        <h1 class="text-center hero-content-text">BAKED</h1>
        <h1 class="text-center hero-content-text">GOODNESS</h1>
        <h1 class="text-center hero-content-text">EVERYDAY</h1>
    </div>
    <div class="hero-button">
        <a href="#featured-products" class="btn btn-primary" id="hero-button-btn">
            BROWSE MENU
        </a>
        </div>
</div>
<div class="profile-section">
    <div class="container-fluid shadow-lg d-block profile-title">
        <h4 class="display-6 my-4">About Annah</h4>
    </div>
    <div class="container-fluid p-0 gap-5 profile">
        <div class="m-0 p-0 profile-avatar">
            <img class="
            shadow rounded-circle" id="img-avatar" src="{{ url_for('static', filename='images/profile-img.jpg') }}" alt="Annah Mwanzia Nduku">
        </div>
        <div class="container-fluid p-1 profile-text">
            <div class="profile-text-content">
                <p class="m-0 fs-4 fw-normal letter-spacing-4px lh-base rounded shadow-lg profile-text-p">Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Laudantium hic facere ad ut dignissimos, rem, nesciunt possimus sequi, sed
                    consequuntur iure provident! Incidunt a hic sunt rem, dolore asperiores. Porro tempore totam blanditiis incidunt at
                    rerum ipsum accusantium voluptatem eum dignissimos veritatis deserunt nam sapiente, ipsa magnam neque necessitatibus
                    esse dolore, excepturi ex eligendi. Impedit, fugiat! Atque necessitatibus ullam ex provident doloremque maxime illo
                    quis ipsam est placeat facilis nulla nesciunt sit eaque, sunt modi asperiores odit quidem dignissimos reiciendis
                    suscipit tenetur saepe quae magni. Vero placeat amet mollitia nam sint aut beatae pariatur vitae, doloremque soluta
                    necessitatibus tempore voluptate!
                </p>
            </div>
            {# TOGGLE BUTTON - hidden on extra-small, medium, and large screens. Only visible on 'sm' (576px-767.98px) #}
            <button class="btn btn-link read-more-toggle d-sm-block d-md-none">Read More</button>
        </div>
    </div>
</div>

<div class="container-fluid" id="featured-products">
    <div class="d-flex justify-content-between align-items-center mb-4">

        
            <h1 id="category-title" class="featured_products display-6 m-0">Featured Products</h1>
        
            <!-- <h1 class="featured_products display-6 m-0"></h1> -->
        
         
        <!-- {% if selected_category and selected_category != "All Categories" %}
        <p>DEBUG: {{ selected_category }}</p>
        <h1 class="featured_products display-6 m-0">{{ selected_category }} Products</h1>
        {% else %}
        <h1 class="featured_products display-6 m-0">Featured Products</h1>
        {% endif %} -->
       
        <!-- <h1 class="display-6 m-0">featured products</h1> -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {% if selected_category and selected_category != "All Category" %}
                    {{ selected_category }}
                {% else %}
                    All Categories
                {% endif %}
            </button>
            <ul class="dropdown-menu" aria-label="categoryDropdown">
                <li>
                    <a href="#" data-category="All Categories" class="dropdown-item category-filter-item {% if not selected_cateory or selected_category == 'All Categories' %}active{% endif %}">All Categories </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <!-- loop through sqlite3.Row objects for categories -->
                 {% for category_row in categories %}
                 <li>
                    <a href="#" data-category="{{ category_row.category_name }}" class="dropdown-item category-filter-item {% if selected_category == category_row.category_name %}active{% endif %}">{{ category_row.category_name }}</a>
                 </li>
                 {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="product-cards-container">
       <!-- { Include partial here. Replaced by AJAX later} -->
            {% include '_product_cards.html' %}
        </div>
</div>

<div class="container-fluid my-5">
    <ul class="nav nav-pills nav-justified mb-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="why-choose-us-tab" data-bs-toggle="pill" data-bs-target="#why-choose-us-content" type="button" role="tab" aria-controls="why-choose-us-content" aria-selected="false">Why Choose Us?</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="testimonials-tab" data-bs-toggle="pill" data-bs-target="#testimonials-content" type="button" role="tab" aria-controls="testimonials-content" aria-selected="true">Testimonials</button>
        </li>
    </ul>

    <!-- Tab Content -->
     <div class="tab-content" id="myTabContent">
        <!-- why choose us pane -->
         <div class="display-6 tab-pane fade" id="why-choose-us-content" role="tabpanel" aria-labelledby="why-choose-us-tab">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 rounded-top-4">
                        <img src="{{ url_for('static', filename='images/fresh_ingredients.jpg') }}" alt="Fresh Ingredients"
                            class="card-img-top rounded-circle product-feature-img">
                        <div class="card-body text-justify shadow">
                            <h5 class="card-title text-center fs-4 fw-bold shadow-sm letter-spacing-5px lh-base">Fresh Ingredients
                            </h5>
                            <div class="card-description-content">
                                <p class="card-text shadow-lg letter-spacing-2px lh-sm fs-5 fw-light why-us-text">Lorem ipsum dolor,
                                    sit amet consectetur adipisicing elit. Officiis maxime, esse amet minus unde suscipit non iusto
                                    corporis ex numquam molestias, a assumenda sapiente ut.
                                </p>
                            </div>
                            <button class="btn btn-link card-read-more-toggle d-sm-block d-md-none">Read More</button>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 rounded-top-4">
                        <img src="{{ url_for('static', filename='images/hero-section-img.jpg') }}" alt="Fresh Ingredients"
                            class="card-img-top rounded-circle product-feature-img">
                        <div class="card-body text-justify shadow">
                            <h5 class="card-title text-center fs-4 fw-bold shadow-sm letter-spacing-5px lh-base">Family Recipe</h5>
                            <div class="card-description-content">
                                <p class="card-text shadow-lg letter-spacing-2px lh-sm fs-5 fw-light why-us-text">Lorem ipsum dolor
                                    sit amet consectetur
                                    adipisicing elit. Nobis deleniti porro ipsam corrupti nisi recusandae! Deleniti nihil iusto quos
                                    asperiores ratione,
                                    ad ipsam amet incidunt quo magnam recusandae adipisci esse!
                                </p>
                            </div>
                            <button class="btn btn-link card-read-more-toggle d-sm-block d-md-none">Read More</button>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-4 mb-4">
                    <div class="card h-100 rounded-top-4">
                        <img src="{{ url_for('static', filename='images/fast_delivery.jpg') }}" alt="Fresh Ingredients"
                            class="card-img-top rounded-circle product-feature-img">
            
                        <div class="card-body text-justify shadow">
                            <h5 class="card-title text-center fs-4 fw-bold shadow-sm letter-spacing-5px lh-base">Fast Delivery</h5>
                            <div class="card-description-content">
                                <p class="card-text shadow-lg letter-spacing-2px lh-sm fs-5 fw-light why-us-text">Lorem, ipsum dolor
                                    sit amet
                                    consectetur adipisicing elit. Corrupti magni modi hic veniam repellendus obcaecati nihil
                                    sapiente consectetur
                                    expedita quidem.
                                </p>
                            </div>
                            <button class="btn btn-link card-read-more-toggle d-sm-block d-md-none">Read More</button>
                        </div>
                    </div>
                </div>  
            </div>
         </div>

        <!-- Testimonials Tab Pane -->
        <div class="tab-pane fade display-6 show active" id="testimonials-content" role="tabpanel" aria-labelledby="testimonials-tab">
            <h2 class="text-center my-4">What Our Customers Say!</h2>
            <!-- Testimonial button -->
            <div class="text-center mb-4">
                <a href="{{ url_for('add_testimonial') }}" class="btn btn-primary">
                    <i class="fas fa-plus-circle"></i>Add Your Testimony
                </a>
            </div>

            <div class="row justify-content-center">
                <!-- Placeholder for testimonials content -->
                <div class="col-md-8">
                    <div class="border p-3 rounded shadow-sm" id="scrollableTestimonials">
                        {% for testimonial_row in testimonials %}
                        <div class="card mb-3">
                            {% if testimonial_row.image_url %}
                                <img src="{{ url_for('static', filename='images/customers/' + testimonial_row.image_url)}}" alt="{{ testimonial_row.customer_name }}'s photo" class="rounded-circle mx-auto mb-3 d-block" style="width: 90px; height: 90px; object-fit: cover;">
                            {% endif %}
                            <p class="card-text text-center fs-5 fw-light fst-italic mb-3">"{{ testimonial_row.testimonial_text}}"</p>
                            <footer class="blockqoute-footer mt-auto">
                                <strong>{{ testimonial_row.customer_name }}</strong>
                                {% if testimonial_row.customer_location %}
                                    from <cite title="Source Title">{{ testimonial_row.customer_location }}</cite>
                                {% endif %}
                                {% if testimonial_row.rating %}
                                    <div class="text-warning mt-2">
                                        {% for _ in range(testimonial_row.rating) %}
                                            <i class="fas fa-star"></i>
                                        {% endfor %}
                                        {% for _ in range(5 - testimonial_row.rating) %}
                                            <i class="far fa-star"></i>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </footer>
                        </div>
                        {% endfor %}
                    </div>
                        
                </div>
            </div>
        </div>

     </div>

    

    
</div>


{% endblock %}