
{% extends "base.html" %}


{% block title %} {{ product.name }} Details {% endblock %}

{% block content %}


    <div class="container my-2">
        <div class="row d-flex flex-column">
            <div class="col-md-6 text-center w-100">
                <img src="{{ url_for('static', filename='images/' + product.image_url) }}" alt="{{ product.name }}" class="img-fluid rounded product_detail_img">
            </div>
        <div class="col-md-6 text-center w-100">
            <h1 class="display-4">{{ product.name }}</h1>
            <p class="lead fw-bold product-price">Price: Ksh.{{ product.price }}</p>
            <p class="text-muted product-description">{{ product.description }}</p>
            <p class="text-muted product-category">Category: {{ product.category.category_name }}</p>
            <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Back to Products</a>
            {% set whatsapp_number = "254702397705" %}
            {% set prefill_message = "Hello! I'm interested in ordering the " ~ product.name ~ " (Ksh " ~ "%.2f"|format(product.price) ~ "). Please provide more details or confirm my order." %}
            {% set encoded_message = prefill_message | urlencode %}

            <a href="https://wa.me/{{ whatsapp_number }}?text={{ encoded_message }}" class="btn btn-success mt-3" target="_blank" aria-label="Order {{ product.name }} via whatsapp">
                <i class="fab fa-whatsapp">Order via Whatsapp</i>
            </a>
        </div>
        </div>
    </div>
    {% endblock %}